/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(partials/_variables.css);

/* import global styling */ 
@import url(partials/_global.css);

.herder-nav .navbar li{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.3rem;
    color: rgb(5, 4, 4);
    font-weight: 500;
}

.herder-nav .navbar .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.herder-nav .navbar .active a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.site-main .site-banner {

    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}
.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-15px);
}
.site-main .site-banner .site-title h1{
    font-size: 5rem;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}
.site-main .site-banner .banner-image >img{
    padding: 7rem 0;
    width: 90rem;
}
.site-main .about-area{
    padding: 8rem 5rem;
}
.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;

}
.site-main .about-area .about-title .paragraph{
    padding: 1rem 0;
}

/* css de la partie experience et des logo */
.site-main .brand-area{
    
    margin: 1rem;
}
.site-main .brand-area .first-row .col-lg-4{
display: flex;
justify-content: center;
}
.site-main .brand-area .first-row .col-lg-4 .single-brand{
    border: solid 1px var(--border-color);
    text-align: center;
    padding: 2rem 0rem;
    margin: 2rem 0;
    width: 150px;
    height: 100px;
    cursor: pointer;
    

}
.site-main .brand-area .first-row .col-lg-4 .single-brand >img {
    width: 50%;
}
.site-main .brand-area .first-row .col-lg-4 .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}
.site-main .brand-area .first-row .col-lg-4 .single-brand:hover >img{
    filter: brightness(0.15);

}
.site-main .brand-area .experien-area{
    padding-left: 1rem;

}
.site-main .brand-area .experience-area span{
    display: block;
}
.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}
.bg-panel{
    position: absolute ;
    left: -19px;
    top: 0%;
    background: url();
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 150px;
    z-index: 1;
}
.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}
/* +++++++SERVICES AREA =+++++++++++++++++++*/
.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}
/*$$$$$$$$$$$$$$$$$$$$$$$ project-area ^^^^^^^^^^^^^^^^^^^^^^^^ */

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
     
}
.site-main .project-area{
    padding: 4rem 0;
}
/* about me */
.site-main .about-area .about-title p{
    padding: 1rem 2rem;
}

.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
    padding: 2rem;
}

.site-main .about-area .client .about-client{
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p{
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}
/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 5rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}
/* footer */

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}